
<!-- confidence-bundle area start here  -->
<div class="confidence-bundle">
    <div class="container">
        <h2 class="confidence-bundle-title">{{ section.settings.bundle_title }}</h2>
        <div class="row">

            {% for product in collections[section.settings.bundle_product].products %}
            <div class="col-lg-4 col-md-6">
                <div class="single-confidence {% if product.metafields.my_fields.popular_bundle_product == true %} popular {% endif %}">
                    {% if product.metafields.my_fields.popular_bundle_product == true %}
                    <div class="popular-label">MOST POPULAR</div>
                    {% endif %}
                    <div class="confidence-thumbnail">
                        <img src="{{ product.featured_image.src | img_url: '' }}" alt="confidence-image" />
                    </div>
                    <div class="confidence-body">
                        <h2 class="confidence-title">{{ product.title }}</h2>
                        <div class="included-area">
                            {{ product.description }}
                            <h4 class="save-price">{{ product.metafields.my_fields.save_amount }}</h4>
                        </div>
                        <form method="post" action="/cart/add" class="addToCart">
                            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                            <input min="1" type="number" id="quantity" hidden name="quantity" value="1"/>
                            <input type="submit" value="ADD TO BAG - {{ product.price | money }}" class="add-btn skipChart {% if product.metafields.my_fields.popular_bundle_product == true %} active {% endif %}" />
                        </form>
                        <p class="bonus-text"><span>BONUS:</span>  {{ product.metafields.my_fields.bonus_text }}</p>
                        <h5 class="shipping-text"><img class="icon" src="{{ 'plane.svg' | asset_url }}" alt="plane" /> FAST SHIPPING</h5>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<!-- confidence-bundle area end here  -->


{% schema %}
{
  "name": "Bundle Section",
  "settings": [
    {
    "type": "text",
    "id": "bundle_title",
    "label": "Collection Title",
    "default": "Choose Your <span>Red Lip Confidence</span> Bundle Now"
    },
    {
    "type": "collection",
    "id": "bundle_product",
    "label": "Add Bundle Product"
    }

  ],
  "presets": [
  {
    "name": "Bundle Section"
  }
]

}
{% endschema %}