<!-- Collection area start here  -->
<div class="collection-area">
    <div class="collection-top text-center">
        <h2 class="title">{{ section.settings.collection_title }}n</h2>
        <a href="#" class="view-btn">{{ section.settings.collection_description }}</a>
    </div>
    <div class="collection-wrap">
        <div class="container">
            <div class="row">
                {% for product in collections[section.settings.collection_product].products %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-collection">
                            <div class="collection-thumbnail">
                                <a href="#">
                                    <img class="thumbnail" src="{{ product.featured_image.src | img_url: '' }}" alt="collection" />
                                    <img class="hover-thumbnail" src="{{ product.images[1] | img_url: '' }}" alt="collection" />
                                </a>
                            </div>
                            <div class="title-review">
                                <h3 class="collection-title"><a href="#">{{ product.title }}</a></h3>
                                <ul class="review-area">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            <p>{{ product.description }}</p>
                            <form method="post" action="/cart/add" class="addToCart">
                                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                                <input min="1" type="number" id="quantity" hidden name="quantity" value="1"/>
                                <input type="submit" value="Add to Bag - £{{ product.price }}" class="add-bag skipChart" />
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Collection area end here  -->

{% schema %}
{
  "name": "Collection Section",
  "settings": [
    {
    "type": "text",
    "id": "collection_title",
    "label": "Collection Title",
    "default": "The Marble Collection"
    },
    {
      "type": "text",
      "id": "collection_description",
      "label": "Collection Description",
      "default": "View Red Lip Confidence Bundles"
    },
    {
    "type": "collection",
    "id": "collection_product",
    "label": "Add Product"
    }

  ],
  "presets": [
  {
    "name": "Header Section"
  }
]

}
{% endschema %}