 <!-- footer area start here  -->
 <footer class="footer-area">
  <div class="widget-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-widget about-widget">
                      <a class="brand-logo" href="#"><img src="{{ section.settings.footer_logo | img_url: '' }}" alt="wyrl" /></a>
                      <p class="about-text">{{ section.settings.footer_about}}</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-widget menu-widget">
                      <h3 class="widget-title">{{ section.settings.footer_menu_one_title }}</h3>
                      <ul>
                        {% for link in linklists[section.settings.footer_menu_one].links %}
                        {% if link.links == blank %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-widget menu-widget">
                      <h3 class="widget-title">{{ section.settings.footer_menu_two_title}}</h3>
                      <ul>
                        {% for link in linklists[section.settings.footer_menu_two].links %}
                            {% if link.links == blank %}
                                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                          
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="single-widget contact-widget">
                      <h3 class="widget-title">Company</h3>
                      <p class="contact-address">{{ section.settings.address}}</p>
                      <ul class="contact-info">
                          <li><i class="icon fas fa-phone-alt"></i> {{ section.settings.phone }}</li>
                          <li><i class="icon fas fa-envelope"></i> {{ section.settings.email }}</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="container">
          <p class="copyright-text">{{ section.settings.copy_right_text }}</p>
      </div>
  </div>
</footer>
<!-- footer area end here  -->
<!-- Js file  -->
<script src="{{ 'jquery-3.6.0.min.js' | asset_url }}"></script>
<script src="{{ 'bootstrap.bundle.min.js' | asset_url }}"></script>
<script src="{{ 'plugins.js' | asset_url }}"></script>
<script src="{{ 'main.js' | asset_url }}"></script>


{% schema %}
{
  "name": "Footer Style",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    },
    {
      "type": "richtext",
      "id": "footer_about",
      "label": "Footer About",
      "default": "<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius inventore reprehenderit unde cumque debitis .</p>"
    },
    {
        "type": "text",
        "id": "copy_right_text",
        "label": "Copyright Text",
        "default": "© 2022. All Rights Reserved by wyrl</p>"
    },
    {
        "type": "text",
        "id": "address",
        "label": "Address",
        "default": "5 North 03th Avenue,Penscola, FL 32503, New York"
    },
    {
        "type": "text",
        "id": "phone",
        "label": "Phone Number",
        "default": "+1 965 047 658 23"
    },
    {
        "type": "text",
        "id": "email",
        "label": "Email",
        "default": "xalkacom54@gmail.com"
    },
    {
        "type": "text",
        "id": "footer_menu_one_title",
        "label": "Footer Menu One Title",
        "default": "Marketplace"
    },
    {
        "type": "link_list",
        "id": "footer_menu_one",
        "label": "Footer Menu One"
    },
    {
        "type": "text",
        "id": "footer_menu_two_title",
        "label": "Footer Menu Tow",
        "default": "My Account"
    },
    {
    "type": "link_list",
    "id": "footer_menu_two",
    "label": "Footer Menu Two"
    }
  ],
  "presets": [
  {
    "name": "Footer Section"
  }
]

}
{% endschema %}